<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Genobiomics Analyzer</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<style>
    #topnavbar a {
        font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        font-weight: bold;
    }
    #topnavbar {
    background-color: #14240a;
    }

</style>
<nav id="topnavbar" class="navbar navbar-expand-md fixed-top navbar-dark">
    <a class="navbar-brand" href="{{ url_for('info') }}">
        Genobiomics
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user_home') }}">User Dashboard<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('new_run') }}">Create Run<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div class="navbar-nav">
            {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('account') }}">{{ current_user.email }}</a>
                <a class="btn btn-primary" href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a class="btn btn-primary" href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </div>
    </div>
</nav>

<!-- flash message template. Wont show under the navbar
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, messages in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
-->

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='signin.css') }}">
<body class="text-center">
    <form class="form-signin" method="POST" action="">
        {{ form.hidden_tag() }}
        <img class="mb-4" src="{{ url_for('static', filename='genobiomics_logo.jpg') }}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Change your password</h1>
        <div class="form-group">
            {{ form.email.label(class="form-control-label") }}

            {% if error_message %}
                <div class="alert alert-danger">
                    <span>{{ error_message }}</span>
                </div>
            {% endif %}

            {% if form.email.errors %}
                {{ form.email(class="form-control from-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email(class="form-control from-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
        </div>

        <p class="mt-5 mb-3 text-muted">&copy; 2018-2020</p>
    </form>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
</html>
